<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <title>Know Your City</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../assets/img/favicons/favicon.png">

  <!-- Main CSS file -->
  <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" id="css-main" href="../../assets/css/kyc.min.css">
    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <link rel="stylesheet" id="css-theme" href="../../assets/css/themes/city.min.css">

  <!--[if lt IE 9]>
  <script src="../../assets/scripts/pages/html5shiv.js"></script>
  <script src="../../assets/scripts/pages/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<!-- HEADER -->
<header>

  <!-- HEADER OVERLAY -->
  <div class="lj-overlay lj-overlay-color"></div>
  <!-- /HEADER OVERLAY -->

  <!-- NAVIGATION -->
  <nav>
    <a href="#home" class="active"><i class="fa fa-home"></i><span>Home</span></a>
    <a href="#features"><i class="fa fa-diamond"></i><span>Features</span></a>
    <a href="#contact"><i class="fa fa-envelope"></i><span>Contact</span></a>
  </nav>
  <!-- /NAVIGATION -->

  <div class="container">

    <div class="row">

      <!-- SOCIALS -->
      <div class="col-sm-6 col-sm-push-6 lj-socials">
        <ul>
          <li><a class="fa fa-github" href="https://github.com/Code4SierraLeone/KnowYourCity" target="_blank"></a></li>
          <li><a class="fa fa-facebook" href="#!"></a></li>
          <li><a class="fa fa-twitter" href="#!"></a></li>
          <li><a class="fa fa-google-plus" href="#!"></a></li>
        </ul>
      </div>
      <!-- /SOCIALS -->

      <!-- LOGO -->
      <div class="col-sm-3 col-sm-pull-6 lj-title">
        <a class="h1 text-white" href="index.html">
          <span>Kn</span><i class="fa fa-circle-o-notch text-primary"></i><span class="h1 font-w600 sidebar-mini-hide">w Your City</span>
        </a>
      </div>
      <!-- /LOGO -->

    </div>

    <!-- CHANGER -->
    <div class="lj-changer">

      <!-- PAGE #HOME -->
      <div id="home" class="active">

        <!-- TITLE -->
        <div class="row">
          <div class="col-xs-12 text-white lj-title">
            <div>Find
              <div class="rotate"><ul class="texts">
                <li>health centers</li>
                <li>food centers</li>
                <li>shelters</li>
                <li>redcross</li>
                <li>support centers</li>
              </ul></div></div>
          </div>
        </div>
        <!-- /TITLE -->

        <!-- TEXT PARAGRAPH -->
        <div class="row">
          <div class="col-xs-12 text-white lj-title-paragraph">
              <p>An open source web-based platform which aims to map the infrastructure facilities present in the informal settlements in Freetown!</p>
          </div>
        </div>

        <div class="text-white">
          <h2><a href="home.html">Discover</a></h2>
        </div>


        <!-- /TEXT PARAGRAPH -->

      </div>
      <!-- /PAGE #HOME -->

      <!-- PAGE #FEATURES -->
      <div id="features" class="text-white subpage">
        <div class="row">
          <div class="col-sm-6">

            <!-- TITLE -->
            <h3>Features</h3>
            <!-- /TITLE -->

            <!-- TEXT PARAGRAPH -->
              <p>KnowYourCity Campaign aims at mapping all the amenities within Informal Settlement areas in Freetown, Sierra Leone.</p>
            <!-- TEXT PARAGRAPH -->

            <!-- FEATURES LIST -->
            <ul>
              <li>
                <span>Mapped Amenities</span>
                  <p>Allow users to find mapped resource centers in the Informal Settlement Areas!</p>
              </li>
              <li>
                <span>Unique &amp Accurate</span>
                  <p>Allow users to Identify their current location on the map, thus be able to trace the mapped locations.</p>
              </li>
              <li>
                <span>Fast &amp Reliable</span>
                  <p>Perfection in every aspect. We've spend extra time making sure every part of KnowYourCity App work and look as expected.</p>
              </li>
            </ul>
            <!-- /FEATURES LIST -->

          </div>
        </div>
      </div>
      <!-- /PAGE #FEATURES -->

      <!-- PAGE #CONTACT -->
      <div id="contact" class="text-white subpage">
        <div class="row">
          <div class="col-sm-8 col-md-6">

            <!-- TITLE -->
            <h3>Contact</h3>
            <!-- /TITLE -->
              <br>
              <br>

            <!-- TEXT PARAGRAPH -->
              <p>Don’t hesitate to ask, we are here to help you!</p>
            <!-- /TEXT PARAGRAPH -->

            <!-- CONTACT FORM -->
            <form autocomplete="off">
              <label for="contact-name">Name<span class="verification"></span></label>
              <input type="text" value="" name="contact-name" id="contact-name">
              <label for="contact-email">Email<span class="verification"></span></label>
              <input type="text" value="" name="contact-email" id="contact-email">
              <label for="contact-message">Message<span class="verification"></span></label>
              <textarea name="contact-message" id="contact-message"></textarea>
              <button type="submit" name="contact-submit">Submit</button>
              <span class="contact-message">Submit successful, thanks!</span>
            </form>
            <!-- /CONTACT FORM -->

          </div>
        </div>
      </div>
      <!-- /PAGE #CONTACT -->

    </div>
    <!-- /CHANGER -->

  </div>

  <!-- BACKGROUND -->
  <div class="lj-background"></div>
  <!-- /BACKGROUND -->

</header>
<!-- /HEADER -->

<!-- FOOTER -->
<footer>

  <div class="container">
    <div class="row">

      <!-- FOOTER COPYRIGHTS -->
      <div class="text-white col-sm-12 lj-footer-copyrights">
        <p>&copy; All rights reserved. <a href="https://github.com/Code4SierraLeone/KnowYourCity" target="_blank">KnowYourCity 2017</a></p>
      </div>
      <!-- /FOOTER COPYRIGHTS -->

    </div>
  </div>

</footer>
<!-- /FOOTER -->

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Backstretch -->
<script src="../../assets/scripts/pages/jquery.backstretch.min.js"></script>
<!-- Masonry -->
<script src="../../assets/scripts/pages/masonry.min.js"></script>
<!-- Magnific Popup -->
<script src="../../assets/scripts/pages/jquery.magnific-popup.min.js"></script>
<!-- jQuery Easings -->
<script src="../../assets/scripts/pages/jquery.easing.1.3.js"></script>
<!-- Retinadisplay -->
<script src="../../assets/scripts/pages/retinadisplay.js"></script>
<!-- Velocity js -->
<script src="../../assets/scripts/pages/velocity.min.js"></script>
<!-- Lettering -->
<script src="../../assets/scripts/pages/jquery.lettering.js"></script>
<!-- Textillate -->
<script src="../../assets/scripts/pages/jquery.textillate.js"></script>
<script src="../../assets/scripts/pages/lj-coffee-break.js"></script>
</body>
</html>